
.attribution {
  margin-top: 5%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {    
  height: 100vh; 
  display: flex;  
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  padding: 1rem;
}

.qr {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;      
  max-width: 280px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.qr img {
  width: 100%;
}

.qr p {
  font-weight: 400;
  font-size: 15px;
  color:  hsl(220, 15%, 55%);
  margin: auto .5rem 2rem; 
}

.qr h1 {     
  font-weight: 700;
  font-size: 22px;
}

.qr img,
.qr {
  border-radius: 1.5rem;
}

* {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}